.idea-card {
    background: white;
    border-radius: 12px;
    padding: 18px;
    box-shadow: var(--card-shadow);
    margin-bottom: 16px;
  }
  
  .idea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .tags .tag {
    display: inline-block;
    background: #f3f4f6;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 4px;
    font-size: 12px;
  }
  
  .comment-count {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
    background-color: #d1fae5;
    padding: 4px 6px;
    border-radius: 6px;
  }
  
  .like-count {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .card-actions {
    display: flex;
    gap: 10px;
    margin-top: 12px;
  }
  
  .btn {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    height: 50px;
    width: 120px;
  }
  
  .btn-like {
    background: #1366ed; 
  }
  .btn-like:hover {
    background: #5176b1; 
  }
  
  .btn-comment {
    background: rgb(92, 91, 91); 
  }

  .btn-comment:hover {
    background: grey; 
  }
  
  .btn-edit {
    background: #f8b201; 
  }
  
  .btn-edit:hover {
    background: #efc250; 
  }
  .btn-delete {
    background: #f40b0b; 
  }
  
  .btn-delete:hover {
    background: #ee4949; 
  }